@font-face {
    font-family: "Labil";
    src: url("./fonts/LabilGrotesk-Regular.ttf") format("truetype");
    font-weight: 500;
 }

 @font-face {
    font-family: "Labil";
    src: url("./fonts/LabilGrotesk-Medium.ttf") format("truetype");
    font-weight: 700;
 }


:root {
    --primary: #9a82bb;
    --primary-light: #c6b8dd;
    --topic-1: #fcea13;
    --topic-2: #eb5798;
    --topic-3: #ed6b39;
    --topic-4: #60c4e1;
    --root: 22px;
    --rounded: 2rem;
    --header: 7rem;
}

html {
    margin: 0;
    padding: 1rem;
    font-family: Labil;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-size: var(--root);
}

body {
    font-size: max(var(--root), 20px);
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child{
    margin-bottom: 0;
}

header {
    height: var(--header);
}

.bubble_h1 {
    position: sticky;
    top: 1rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--primary);
    border-radius: 1000px;
    font-weight: 700;
    font-size: min(2.25rem, 4vw);
    letter-spacing: -0.03rem;
    line-height: 0.85;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bubble_h2 {
    position: sticky;
    top: 1rem;
    padding: 2rem 4rem;
    border-radius: 1000px;
    background-color: var(--primary);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.03rem;
    line-height: 1;
    margin-bottom: 1rem;
    z-index: 50;
}

.bubble_h3 {
    background-color: var(--primary);
    display: block;
    border-radius: 1000px;
    padding: 1rem 1.5em;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.01rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    flex-shrink: 0;
    position: relative;
    width: fit-content;
    overflow: hidden;
    display: flex;
}



main {
    display: flex;
}

aside {
    width: 25%;
}

nav {
    position: sticky;
    top: calc(var(--header) + 5rem);
}

nav a {
    margin-right: 0.25rem;
}

section {
    width: 50%;
    background-color: var(--primary-light);
    padding: 1rem;
    margin: 0 1rem;
    border-radius: var(--rounded);
}

.section__img {
    border-radius: calc(var(--rounded)*0.7);
    max-width: 100%;
}


.links__item a {
    border: 0.25rem dotted var(--primary);
    padding: 0.5rem 1.25rem;
    border-radius: 1000px;
    width: fit-content;
    display: inline-block;
    margin-bottom: 0.5rem;
    transition: background-color 200ms linear;
}

.links__item a:hover {
    background-color: var(--primary);
}

.subpage__header {
    display: flex;
    align-items: center;
}


.subpage__backlink{
    width: calc(var(--header) + 4rem);
    height: calc(var(--header) + 3rem);
    margin-left: -2rem;
    display: block;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;

}

.subpage__backlink img {
    width: calc(var(--header) + 4rem);
    height: calc(var(--header) + 3rem);
    width: fit-content;
}


.subpage .bubble_h3 {
    padding-left: 5rem;
}

.link__index {
    background-color: black;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.45rem;
    height: 3.45rem;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.stations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.stations__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

@media (max-width: 1100px) {
    :root {
        --root: 18px;
    }

    main { display: block;}
    aside {
        width: 100%;
    }
    nav {
       width: 100%;
       position: static;
       display: flex;
       flex-wrap: wrap;
    }
    nav a {
    }

    section {
        width: auto;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .menu > a {
        max-width: 30%;
        flex-grow: 1;
        width: 100%;
    }
    
}

@media (max-width: 800px) {
    :root {
        --root: 16px;
        --header: 6.5rem;
    }
}

@media (max-width: 500px) {
    :root {
        --root: 12px;
        --header: 6rem;
    }
}